{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 5, "knowledge_revision": 9, "git_revision": "716447af9ad8ff56887ef89b76542a92d879cbc9", "filename": "/home/kavia/workspace/code-generation/easyeventregister-22422-ac4efd5f/easyeventregister/requirements.txt", "hash": "1d666af380b83b2c5033b860e3cfc119", "format-version": 4, "code-base-name": "default", "revision_history": [{"9": "716447af9ad8ff56887ef89b76542a92d879cbc9"}]}